@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
}
section {
  scroll-margin-top: 120px;
}
@mixin media($max_width) {
  @media only screen and (max-width: $max_width) {
    @content;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 33px 70px;
  @include media(850px) {
    padding: 33px 30px;
  }
  .header_inner {
    display: flex;
    align-items: center;
    .logo {
      a {
        text-decoration: none;
        font-size: 25px;
        color: black;
      }
    }

    .header_right {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-left: auto;

      @include media(730px) {
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50vw;
        transform: translateX(100%);
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.active {
        @include media(730px) {
          transform: translateX(0);
          transition: transform 0.3s ease;
        }
      }
      @include media(730px) {
        nav ul li {
          flex-direction: column;
          gap: 24px;
          background-color: white;
        }

        nav ul li a {
          background-color: white;
        }
      }
      .menu_close {
        position: absolute;
        display: none;
        cursor: pointer;
        @include media(730px) {
          display: block;
          top: 33px;
          right: 33px;
        }
        i {
          font-size: 28px;
        }
      }
      nav {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 40px;
        ul {
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 40px;
          li {
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 40px;
            @include media(1050px) {
              gap: 25px;
            }
            @include media(850px) {
              gap: 18px;
            }
            a {
              text-decoration: none;
              font-size: 18px;
              color: black;
              &:hover {
                color: rgb(78, 78, 78);
              }
              @include media(730px) {
                font-size: 25px;
              }
            }
          }
        }
      }
    }
    .header_controls {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-left: 24px;
      @include media(730px) {
        gap: 14px;
        margin-left: auto;
      }
      .lang {
        appearance: none; /* Standard */
        -webkit-appearance: none; /* Safari */
        -moz-appearance: none; /* Firefox */

        border: none;
        outline: none;
        background: rgb(235, 233, 233);

        padding: 4px 6px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        border-radius: 2px;
      }
      .lang:focus {
        outline: none;
        box-shadow: none;
      }
      .menu_img {
        display: none;
        cursor: pointer;

        @include media(730px) {
          display: block;
          margin-left: auto;
          cursor: pointer;
          background-color: none;
        }
        i {
          font-size: 28px;
          background-color: none;
        }
      }
    }
  }
}
main {
  padding: 90px 100px;
  @include media(1050px) {
    padding: 90px 50px;
  }
  @include media(850px) {
    padding: 70px 40px;
  }
  @include media(790px) {
    padding: 70px 20px;
  }
  .home {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    @include media(850px) {
      gap: 15px;
      padding-top: 80px;
    }
    @include media(730px) {
      flex-direction: column;
    }
    img {
      width: 100%;
    }
    .home_content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 60px;
      @include media(1050px) {
        padding: 10px 30px 10px 40px;
        gap: 15px;
      }
      @include media(790px) {
        padding: 10px 15px 10px 10px;
        gap: 12px;
      }
      h1 {
        font-weight: 400;
        font-size: 32px;
        @include media(1050px) {
          font-size: 25px;
        }
        @include media(850px) {
          font-size: 22px;
        }
      }
      .home_btn {
        button {
          border: none;
          background-color: rgb(105, 180, 241);
          color: black;
          padding: 8px 28px;
          font-size: 16px;
          border-radius: 2px;
          cursor: pointer;
          a {
            text-decoration: none;
            background-color: rgb(105, 180, 241);
            color: black;
          }
        }
      }
    }
  }
  .about {
    padding: 150px 60px;
    @include media(1050px) {
      padding: 120px 25px;
    }
    @include media(850px) {
      padding: 120px 0px;
    }
    h2 {
      font-size: 32px;
      text-align: center;
      font-weight: 500;
    }

    .about_content {
      padding: 50px 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      @include media(850px) {
        padding: 50px 0px 0px 0;
      }
      //   @include media(730px) {
      //     display: flex;
      //     flex-wrap: wrap;
      //   }
      .about_card {
        display: flex;
        flex-direction: column;
        // border: 1px solid rgb(195, 195, 195);
        border-radius: 2px;
        box-shadow: 10px 5px rgba(237, 235, 235, 0.22);
        .about_img {
          width: 100%;
          img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
          }
        }
        .about_details {
          border: 1px solid rgb(216, 216, 216);
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          align-items: start;
          flex: 1;
          padding: 10px 10px;
          .name p {
            font-size: 20px;
            font-weight: 600;
          }
          .role {
          }
        }
      }
    }
  }
  .projects {
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px 0;
      @include media(1050px) {
        text-align: center;
      }
      h1 {
        font-size: 45px;
        font-weight: 400;
        text-align: center;
        @include media(1050px) {
          font-size: 40px;
        }
        @include media(730px) {
          font-size: 30px;
        }
      }
    }
    .projects {
      padding: 0 60px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      @include media(1050px) {
        padding: 0 10px;
        gap: 15px;
      }
      @include media(730px) {
        padding: 0;
      }
      .project {
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(223, 223, 223);
        border-radius: 2px;
        box-shadow: 10px 8px rgba(237, 235, 235, 0.22);
        .project_img {
          width: 100%;
          overflow: hidden;
          height: 220px;
          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
          }
        }
        .project_content {
          display: flex;
          flex-direction: column;
          gap: 18px;
          align-items: center;
          padding-top: 18px;
          flex: 1;
          @include media(1050px) {
            gap: 15px;
          }
          .project_title p {
            font-size: 20px;
            text-align: center;
          }
          .project_btn {
            display: inline-block;
            padding: 10px 25px;
            background-color: rgb(105, 180, 241);
            border: none;
            text-decoration: none;
            color: black;
            font-weight: 500;
            cursor: pointer;
            margin-top: auto;
            @include media(1050px) {
              padding: 5px 35px;
            }
          }
        }
      }
    }
  }
  .contact {
    .contact_content {
      padding: 120px 60px;
      //   @include media(1050px) {
      //     padding: 120px 60px;
      //   }
      //   @include media(850px) {
      //     padding: 120px 60px 120px 15px;
      //   }
      @include media(730px) {
        padding: 80px 20px 0 20px;
      }
      @include media(450px) {
        padding: 80px 0 30px 0;
      }
      .contact_details {
        background-color: white;
        border-radius: 10px;
        width: 100%;
        width: 450px;
        padding: 40px 90px 40px 40px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        align-items: start;
        @include media(730px) {
          //   padding: 0;
          max-width: 100%;
          width: 100%;
        }
        @include media(520px) {
          padding: 30px 30px;
          gap: 16px;
        }
        @include media(450px) {
          padding: 20px 20px;
          gap: 16px;
        }
        .email {
          display: flex;
          align-items: center;
          gap: 10px;
          background-color: white;
        }
        .phone {
          display: flex;
          align-items: center;
          gap: 10px;
          background-color: white;
        }
        .address {
          display: flex;
          align-items: center;
          gap: 10px;
          background-color: white;
        }
        p {
          font-size: 20px;
          cursor: pointer;
          background-color: white;
          @include media(520px) {
            font-size: 17px;
          }
        }
        i {
          font-size: 20px;
          background-color: white;
        }
      }
    }
  }
}
